name: Build AWS AMI with Packer

on:
  push:
    branches: [ main ]

jobs:
  packer-ami-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image with Packer + AWS CLI
        run: docker build -t packer-aws-image .

      - name: Run Packer init
        run: |
          docker run --rm \
            -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
            -v ${{ github.workspace }}/packer:/workspace \
            -w /workspace \
            packer-aws-image init .

      - name: Run Packer validate
        run: |
          docker run --rm \
            -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
            -v ${{ github.workspace }}/packer:/workspace \
            -w /workspace \
            packer-aws-image validate .

      - name: Run Packer build
        run: |
          docker run --rm \
            -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
            -v ${{ github.workspace }}/packer:/workspace \
            -w /workspace \
            packer-aws-image build aws-ubuntu.pkr.hcl